
<div style="min-height: 300px;"></div>
<footer class="bg-dark">
    <div class="container">
        <div class="container text-center" style="position: relative; bottom: 0px;"></div>
        <div class="row">
            <div class="col text-center" style="color: #FFF;">
                <h4>Entre em Contato</h4>
            </div>
        </div>
        <div class="row mb-2 text-center" style="color: #FFF;">
            <div class="col-md-4 text-center">
                <img src="/images/icons/MARCA_EVOLUIR_BLUE.png" width="300px" alt=""><br><br>
                <i><img src="/images/icons/facebook.png" width="35px" height="35px" alt=""></i>
                <i><img src="/images/icons/instagram.png" width="35px" height="35px" alt=""></i>
                <i><img src="/images/icons/youtube.png" width="35px" height="35px" alt=""></i>
            </div>

            <div class="col-md-4 mt-3">
                <p>
                    <strong> <i><img src="/images/icons/whats.png" width="20px" height="20px" alt=""></i>
                        (75)
                        2102-9202</strong>
                    <strong> <i><img src="/images/icons/facebook.png" width="20px" height="20px" alt=""></i>
                        (75)
                        2102-9202</strong>
                </p>
                <p class="lead mb-0"><i><img src="/images/icons/mail.png" width="20px" height="20px"
                            alt=""></i>contato@evoluirimpressoes.com.br</p>
                <p>Segunda à Sexta, <strong>08h às 18h.</strong> Sábado <strong>08h às 12h</strong></p>
            </div>

            <div class="col-md-4 mt-3">
                <h5 class="lead"><strong> Sobre</strong> </h5>
                <h5 class="lead"><strong>Faq</strong></h5>
                <h5 class="lead"><strong>Pontos de Entrega</strong></h5>
            </div>
        </div>

        <hr>
        <div class="row text-center">
            <div class="col mb-2">
                <i><img src="/images/icons/caixa.png" data-toggle="tooltip"
                        title="Cod.Banco: 104 Ag: 0065 Conta: 3694-2" width="35px" height="35px" alt=""></i>
                <i><img src="/images/icons/bbb.png" data-toggle="tooltip"
                        title="Cod.Banco: 001 Ag: 8117-5 Conta: 5094-6" width="35px" height="35px" alt=""></i>
                <i><img src="/images/icons/itau.png" data-toggle="tooltip"
                        title="Cod.Banco: 341 Ag: 6273 Conta: 12671-1" width="35px" height="35px" alt=""></i>
                <i><img src="/images/icons/bradesco.png" data-toggle="tooltip"
                        title="Cod.Banco: 237 Ag: 3004 Conta: 73234-6" width="35px" height="35px" alt=""></i>
            </div>
        </div>

    </div>
</footer>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/55983299841?text=" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
  z-index:1000;" target="_blank">
    <i style="margin-top:16px" class="fa fa-whatsapp"></i>
</a>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/constants.js"></script>
<script src="/js/ajax.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js"></script>
<script src="/js/utils.js"></script>

</body>

</html>