<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evoluir</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">    
    
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/css_fontawesome/all.min.css">
    <script src="https://cdn.tiny.cloud/1/dqacovv6asxxvaulruswcv4m8e9bfr6qkq11tw1bmt6bgb78/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    

    <script>

        tinymce.init({
            selector: 'textarea',  // change this value according to your HTML
            plugins: 'print wordcount spellchecker image media',
        });

    </script>
</head>

<body>
    