<div class="container-fluid mt-2 mb-2">
    <div class="row align-items-center text-center">
        <div class="col-md-4">
            <a data-toggle="tooltip" title="Evoluir - Feito para ser simples" href="/">
                <img src="/images/MARCA_EVOLUIR_BLUE-MENU.webp" width="200" height="100" alt="">
            </a>
        </div>
        <div class="col-md-5" style="margin-right: 0;">

            <form method="POST" action="/products/find">
                <div class="input-group mb-3">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Procure por um item"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>