<nav id="menu" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <ul class="navbar-nav ml-auto">
        
        <%if(user.nome == 'Visitante'){%>
        <li class="nav-item">

            <a href="/client/login" data-toggle="tooltip" title="Entrar/Criar Conta" class="nav-link"
                style="color: white;">
                Olá Visitante
                <i class="fa fa-user"></i>
            </a>

        </li>
        <%}else{%>            
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Olá <%= user.nome %>
            </a>

            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/client/cart">                    
                    Carrinho
                </a>
                <a class="dropdown-item" href="/client/orders">                    
                    Pedidos
                </a>
                <a class="dropdown-item" href="/clients/client/">                    
                    Meu Cadastro
            </a>
                <a class="dropdown-item" href="/client/address">                    
                    Endereços de Entrega
                </a>
                <a class="dropdown-item" href="/client/logout">                    
                    Sair
                </a>
            </div>

        </li>
        <li class="nav-item">
            <a href="/client/order" class="nav-link" style="color: white;"> </a>
        </li>
        <%} %>

    </ul>
</nav>