
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a href="/main/" data-toggle="tooltip" data-placement="top" title="Página Inicial" class="nav-link"
                style="color: white;">Home</a>
        </li>



        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Cadastros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="Gerenciar Produtos"
                    href="/admin/products/find/">Produtos</a>
                <a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="Gerenciar Clientes"
                    href="/main/clients/">Clientes</a>
                <a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="Gerenciar Colaboradores"
                    href="/collaborator/find/all">Colaborador</a>
                <a class="dropdown-item" data-toggle="tooltip" data-placement="top"
                    title="Gerenciar Categorias/SubCategorias" href="/category/categories">Categorias/SubCategorias</a>
                <a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="Gerenciar Localidades"
                    href="/main/deliveryRegion">Localidades</a>
                <a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="Gerenciar Impressoras"
                    href="/admin/printers">Impressora</a>
                <a class="dropdown-item" data-toggle="tooltip" data-placement="top" title="Gerenciar Banner's"
                    href="/admin/slides/">Slide</a>
            </div>
        </li>


        <li class="nav-item">
            <a href="/main/production" data-toggle="tooltip" data-placement="top" title="Ver e gerenciar produção"
                class="nav-link" style="color: white;">Produção</a>
        </li>
        <li class="nav-item">
            <a href="/main/orders/" data-toggle="tooltip" data-placement="top" title="Ver e gerenciar pedidos"
                class="nav-link" style="color: white;">Pedidos</a>
        </li>
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Fiscal
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a data-toggle="tooltip" title="Gerencimaneto de nota fiscal de produto" class="dropdown-item"
                    href="#">NF-e (Produto)</a>
                <a data-toggle="tooltip" title="Gerencimaneto de nota fiscal de serviço" class="dropdown-item"
                    href="#">NFS-e (Serviço)</a>
                <a class="dropdown-item" href="/admin/certified">Certificado</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="/admin/payment" class="nav-link" data-toggle="tooltip" data-placement="top"
                title="Ver e gerenciar pagamentos" style="color: white;">Financeiro</a>
        </li>
        <li class="nav-item">
            <a href="/admin/institucionals" class="nav-link" data-toggle="tooltip" data-placement="top"
                title="Materiais para estudo" style="color: white;">Institucional</a>
        </li>
        <li class="nav-item">
            <a href="/admin/company" class="nav-link" data-toggle="tooltip" data-placement="top"
                title="Config Empresa" style="color: white;">Empresa</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="tooltip" data-placement="top" title="Ver e gerenciar pagamentos"
                style="color: white;">Relatórios</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="/" class="nav-link" style="color: white;">Ir a Loja</a>
        </li>
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Olá <%= collaborator.nome %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin/collaborators/perfil">Perfil</a>
                <a class="dropdown-item" href="/collaborator/logout">Sair</a>
            </div>
        </li>


    </ul>
</nav>