<div class="modal fade" id="modalContasDeposito" tabindex="-1" aria-labelledby="modalContasDeposito" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                EVOLUIR IMPRESSOES E PUBLICIDADE LTDA Cnpj: 009.089.356/0001-18

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>Banco</th>
                            <th>Cod.Banco</th>
                            <th>Agência</th>
                            <th>Conta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="/images/icons/itau.png" height="35px" width="35px" alt=""></td>
                            <td>341</td>
                            <td>6273</td>
                            <td>12671-1</td>
                        </tr>
                        <tr>
                            <td><img src="/images/icons/caixa.png" height="35px" width="35px" alt=""></td>
                            <td>104</td>
                            <td>0065</td>
                            <td>3694-2</td>
                        </tr>
                        <tr>
                            <td><img src="/images/icons/bbb.png" height="35px" width="35px" alt=""></td>
                            <td>001</td>
                            <td>8117-5</td>
                            <td>5094-6</td>
                        </tr>
                        <tr>
                            <td><img src="/images/icons/bradesco.png" height="35px" width="35px" alt=""></td>
                            <td>237</td>
                            <td>3004</td>
                            <td>73234-6</td>
                        </tr>
                    </tbody>
                </table>
            </div>           
        </div>
    </div>
</div>