<%- include('../partials/header.ejs') %>
  <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/content.ejs') %>

    <form action="" class="form">
      <div class="row">
        <div class="col text-center m-2">
          <h4>Envie arquivo o seu certificado digital (.pfx)</h4>
          <form action="" class="form">
            <input type="file" class="form-control" name="" id="">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Enviar arquivo">
          </div>
        </div>
      </div>
    </form>
      





      <%- include('../partials/footer.ejs') %>
        